<style>
    .cmd-buttons {
        margin-left: 10px;
        width: 90px;
    }

    .recordcontent {
        display: none;
        padding: 5px;
    }

    .k-floating-label-container {
        width: 100%;
    }
</style>

<div class="lookupPanel">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." id="search">
        <button type="button"
                class="btn bg-transparent"
                style="margin-left: -40px; z-index: 90;"
                id="clearSearch">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>

<div class="gridview">
    <div class="row" style="margin-bottom: 5px; margin-top: 5px">
        <div class="col-md-6">
            <h5 style="margin-top: 10px;"><i class="fab fa-tumblr"></i> Account Type</h5>
        </div>

        <div class="col-md-6">
            <div class="CmdHome">
                <button class="btn btn-light cmd-buttons float-right btn-labeled"
                        type="button">
                    <span class="btn-label">
                        <i class="fa fa-arrow-left"></i>
                    </span>Home
                </button>
            </div>
        </div>
    </div>

    @(Html.Kendo().Grid<webfmis.Models.MstAccountType>()
    .Name("mainList")
    .Columns(columns => {
        columns.Bound(x => x.Id).Filterable(false).Width(100).Hidden();
        columns.Bound(x => x.AccountTypeCode).Filterable(x => x.Cell(y => y.Operator("Contains"))).Width(100);
        columns.Bound(x => x.AccountType).Filterable(x => x.Cell(y => y.Operator("Contains"))).Width(500);
        columns.Bound(x => x.AccountCategoryName).Sortable(false).Filterable(false).Width(200);
        columns.Bound(x => x.SubCategoryDescription).Width(200);
    })
    .Selectable(x => x.Mode(GridSelectionMode.Single))
    .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable()
    .HtmlAttributes(new { style = "height:700px;" })
    .Filterable(x => x.Mode(GridFilterMode.Row))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(true)
        .Read(read => read.Action("AccountTypeList", "MstAccountType"))
    ))
</div>

<script>
    $(".CmdHome").click(function () {
        location.href = "@Url.Action("Index","Home")";
    });

    $("#clearSearch").click(function () {
        $("#search").val("");

        var grid = $("#mainList").data("kendoGrid");

        grid.dataSource.query({
            page: 1,
            pageSize: 10,
            filter: { field: "AccountType", operator: "contains", value: $("#search").val() }
        })
    });

    $("#search").change(function () {
        var grid = $("#mainList").data("kendoGrid");

        grid.dataSource.query({
            page: 1,
            pageSize: 10,
            filter: { field: "AccountType", operator: "contains", value: $("#search").val() }
        })
    });
</script>

