@{
    ViewData["Title"] = "About";
}

<div style="text-align: center">
    <h4>@ViewData["Title"]</h4>

    <p>Developed by: Erwin Wilson E. Ceniza.</p>

    <img src="~/imgres/about.svg" height="750px"/>
</div>